<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @car.brand_id %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Doors:</strong>
  <%= @car.doors %>
</p>

<p>
  <strong>Owner email:</strong>
  <%= @car.owner_email %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>


  


